




:root {
    --mainfont: 'Roboto', sans-serif;
    --blue:#4C6A72;
    --grey:#F1F1F2;
    --darkgrey:#808181;
    
    }
    
    html {
        height: 100%;
        margin:0px;
        overflow-x:hidden;
        font-family: var(--mainfont);
        
        
        
    }
    
    
    
    @media screen and (min-width: 640px) {
       html {
        margin:20px;
        
               
            
        }
    }
    
    
    
    
    
    
    body {
        height: 100%;
        
        width: 100%;
        margin:0;
        width: 100%;
        
    
    
    }
    
    
    nav {
        width: 100%;
        display:flex;
        flex-direction: column;
       
    }
    
    .navbar {
        display: flex;
        width: 100%;
        
    }
    
    .navicons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
    }
    
    
    
    
    
    
    
    
    
    
    header img {
       width: 100px;
       margin-top: 20px;
    
    
      
    
            
    }
    
    header {
        margin-top: 40px;
        
        
          
        
    }

    .product-card1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    
    
    
    .navlogo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        
        
    
    }
    
    .navtext{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        text-decoration: none;
        font-family: roboto;
        width: 100%;
        
        
        
    }

.product-card {
    background: white;
    height: 400px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    .produktkort-seksjon {
        
        

    }
    
    
    
   
  
    
    



.productimage {
    width: 200px;
    background:
    padding: 30px;
    padding-bottom: 90px;
    position: relative;
    margin-top:80px;
   
    
    
    
}

.text-product {
    font-family: var(--mainfont);
    
}


.section-product-card {

    margin-bottom:30px;
    margin-top: 30px;
    height: 100%;
    width: 300px;
}

.section-product-card p {
    font-family: var(--mainfont);
 
    
}

.product-price {
    font-size: 1rem;
    color: var(--blue);
    
}

.product-brand {
    font-weight: bold;
}

.textfavorite {
    font-size: 2em;
}


.container {
    display: grid;
    grid-template-areas: "mycard1 mycard2 mycard3 "
    "mycard4 mycard5 mycard6 "
    "mycard7 mycard8 mycard9 "
    ;
    grid-template-rows: 1fr;
    width: 100%;
    margin: 20px;
    justify-content: space-evenly;
    gap:20px;
    
    
   

}

.card1 {
grid-area: mycard1;
width: 100%;



}

.card2 {
    grid-area: mycard2
    width: 100%;
}

.card3 {
    grid-area: mycard3;
    width: 100%;
    

}

.card4 {
    grid-area: mycard4;
    width: 100%;
}

.card5 {
    grid-area: mycard5;
    width: 100%;
}

.card6 {
    grid-area: mycard6;
    width: 100%;
}

.card7 {
    grid-area: mycard7;
    width: 100%;
}
.card8 {
    grid-area: mycard8;
    width: 100%;
}

.card9 {
        grid-area: mycard9;
        width: 100%;
    }




.productjacket {
    background: var(--grey);
    padding: 30px;
    width:200px;
}















