:root {
    --mainfont: 'Roboto', sans-serif;
    --blue:#4C6A72;
    --grey:#F1F1F2;
    --darkgrey:#808181;
    
    }
    
    html {
        height: 100%;
        margin:0px;
        overflow-x:hidden;

        
        
        
        
    }


     
    body {
        height: 100%;
        background-color: white;
        width: 100%;
        margin:0;
        font-family: var(--mainfont);
        
    
    
    }

    header {
        background: var(--grey);
        
    }
    
    
    nav {
        width: 100%;
        display:flex;
        flex-direction: column;
       
    }
    
    .navbar {
        display: flex;
        width: 100%;
        
    }
    
    .navicons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    
    }
    
    
    
    
    
    hr {
        border: 0,5px solid #808181;
        width: 95%;
    }

    
    
    
    
    
    header img {
       width: 100px;
       margin-top: 20px;
    
    
      
    
            
    }
    
    header {
        
        padding-bottom: 30px;
        margin-bottom: 30px;
        
        
          
        
    }
    
    
    
    .navlogo {
        display: flex;
        justify-content: center;
        flex-direction: row;
        
        
    
    }
    
    .navtext{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style: none;
        text-decoration: none;
        font-family: roboto;
        width: 100%;
        
        
        
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    
        margin: 40px;
        place-items: center;
        gap:20px;


    
    }


    .container a {
        text-decoration: none; 
        
    }

   .container a:visited { 
        text-decoration: none; 
        color:black
       }

    .price {
        color: var(--blue);
    }

    .price a:visited {
        color: var(--blue);
    }

    

    select {
        padding: 10px;
        margin: 10px;
        padding-right: 60px;
        font-family: var(--mainfont);
        

    
        
    }
   

    .dropdown {
        display: flex;
        flex-wrap: wrap;
    }
    

    .productjacket {
        background: var(--grey);
        padding: 30px;
        width:200px;
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .container a:hover{
color:var(--blue)
    }


    @media screen and (max-width: 833px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        width: auto;
        margin: 30px;
        place-items: center;
        gap:20px;


    
    }
}
@media screen and (max-width: 390px) {
.container {
    display: grid;
    grid-template-columns: 1fr ;

    width: auto;
    margin: 30px;
    place-items: center;
    gap:20px;



}
}

   








   
    
    
    







